<h1> Chitter </h1>

<h3> Welcome </h3>

<ul id='peep_feed'>
  <% @peeps.each do |peep| %>
    <li>
      <b>Message:</b>   <%= peep.message %>
    </li>
  <% end %>
</ul>

<form action='/peep' method='get'>
  <input type='submit' value='Peep'>
</form>
